<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>&quot;sdfsdfsdkfdshfuwefbkjdshksudfhsdjkfhskdfhksdjfhkjsdfhkjsdhfsdkhfsdkjfhsdkjfhksjdhhhhhsjf&quot;</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>messg2</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>messg2</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>messg2</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>&quot;sdfsdfsdkfdshfuwefbkjdshksudfhsdjkfhskdfhksdjfhkjsdfhkjsdhfsdkhfsdkjfhsdkjfhksjdhhhhhsjf&quot;</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>sdfjdhhjkkjjmesge5</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>messg2</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>messg2</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
	<dict>
		<key>name</key>
		<string>name1</string>
		<key>avatar</key>
		<string>avatar1</string>
		<key>message</key>
		<string>&quot;sdfsdfsdkfdshfuwefbkjdshksudfhsdjkfhskdfhksdjfhkjsdfhkjsdhfsdkhfsdkjfhsdkjfhksjdhhhhhsjf&quot;</string>
		<key>image</key>
		<string>&quot;&quot;</string>
		<key>video</key>
		<string>&quot;video&quot;</string>
	</dict>
</array>
</plist>
